.contenedor{
    width:100%;
    height:100%;
    /* overflow: scroll; */

}

.sala{
    position: absolute;
    left: 10px;
    top: 0;
    width: 1000px; 
    height: 800px;
    border: 1px solid red;
}

.almacen{
    position: absolute;
    /* overflow: scroll; */
    left: 1020px;
    top: 0;
    height: 800px;
    width: 300px;
    border: 1px solid blue;
}

.mesa{
    position: relative;
    width: 150px;
    height: 150px;
    background-image: url("../Imagenes/mesa.png");

    margin: 5px 5px 5px 5px;
}