
{% extends "base2.html.twig" %}

    {% block body %}
    <div class="contenedor">
        <div class="sala"><p>Sala</p></div>

        <div class="c-contentForm formreserva">
            <h2 class="text-primary text-uppercase mt-5">Reservar</h2>
            <form class="ms-5" action="/home">
                <div class="row g-6">
                    <div class="col-md-13">
                        <div class="form-floating">
                            <input type="text" id="desde" class="form-control" placeholder="Fecha">
                            <label for="desde">Fecha</label>
                        </div>
                        <br>
                        <div class="form-floating">
                            <select id="tramo" class="form-control" placeholder="Hora">
                                {% for tramo in tramos %}
                                    <option>{{tramo.getIncio().format('H:i:s')}} : {{tramo.getFin().format('H:i:s')}}</option>
                                {% endfor %}
                            </select> 
                            <label for="tramo">Hora </label>
                        </div>
                        <br>
                        <div class="form-floating">
                            <input type="number" id="jugadores" class="form-control" placeholder="Numero de jugadores">
                            <label for="jugadores">Numero de jugadores</label>
                        </div>
                        <br>
                        <div class="form-floating">
                            <select id="juegos" class="form-control" placeholder="Juego">
                                {% for juego in juegos %}
                                    <option>{{juego.Nombre}}</option>
                                {% endfor %}
                            </select> 
                            <label for="Juegos">Juego </label>
                        </div>
                        <br>
                        <button class="btn btn-primary w-100 py-3" type="submit">Completar Reserva</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{dump()}}
    {% endblock %}
